/*!
 * Theme Name: YAMPD
 * Theme URI: http://york.ca
 * Description: YAMPD Cutom Theme
 * Version: 0.0.1
 * Author: Soshal (@SoshalGroup)
 * Author URI: http://soshal.ca
 * Tags: YAMPD, HTML5, CSS3
 */
/* --------------------------------- *
 * VARIABLES                         *
 * --------------------------------- */
/**
 * Colors.
 * 
 * Define custom colors to use throughout this project.
 */
/**
 * Offsets.
 */
/**
 * Media queries.
 * 
 * Define custom media queries that you can call them by a mapped name in the
 * media query mixin. Will also be used to generate grids.
 *
 * You can also call a custom media query by providing the actual query.
 *
 * Example:
 * @include mq(lap) { color: red; }
 * @include mq('screen and (max-width: 20em)') { color: green; }
 */
/**
 * Transitions.
 *
 * Define custom transitions, so you can call them by a mapped name in the
 * transition mixin.
 * 
 * You can also call a custom transition by providing the actual transition.
 *
 * Example:
 * @include transition(slow, 'color, background-color');
 * @include transition('all 250ms cubic-bezier(0.3, 0.5, 0.7, 0.5)');
 */
/* --------------------------------- *
 * PARTIALS                          *
 * --------------------------------- */
/* --------------------------------- *
 * MIXINS.SCSS                       *
 * --------------------------------- */
/**
 * Media query mixin.
 * 
 * Looks through the user defined map of media queries and outputs the content
 * in the found query.
 * 
 * Can also take a custom query.
 */
/**
 * Transition mixin.
 * 
 * Looks through the user defined map of transitions and outputs the transition
 * if it is found. Otherwise it will output a custom transition.
 * 
 * Properties can be specified to limit the transition to specific properties.
 */
/**
 * Arrow mixin.
 *
 * Creates a pure CSS arrow, can be positioned on every side of an object.
 * TODO: position on corners.
 */
/* --------------------------------- *
 * TESTS                             *
 * --------------------------------- */
/**
 * This mixin displays the current media query name and actual query, so that
 * you can quickly see in which breakpoint you are.
 */
/* --------------------------------- *
 * NORMALIZE.SCSS                    *
 * --------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* --------------------------------- *
 * BOILERPLATE.SCSS                  *
 * --------------------------------- */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                               http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/* --------------------------------- *
 * BASE                              *
 * --------------------------------- */
/* --------------------------------- *
 * DOCUMENT.SCSS                     *
 * --------------------------------- */
/**
 * Contains all default document styling (if applicable).
 *
 * This is the place to set-up document-level styling, that can't fit anywhere
 * else. E.g. webfont loading classes.
 */
/**
 * Document.
 */
/**
 * Body.
 */
/* --------------------------------- *
 * TYPOGRAPHY.SCSS                   *
 * --------------------------------- */
/**
 * Contains all base typographic styles.
 *
 * Should not be used for layouts.
 */
/**
 * Body.
 */
body {
  color: #333;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4; }

/**
 * Headings.
 */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 0.75rem 0;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2rem; }
  @media screen and (min-width: 33.75em) {
    h1, .h1 {
      font-size: 2.2rem; } }
  @media screen and (min-width: 45em) {
    h1, .h1 {
      font-size: 2.4rem; } }
  @media screen and (min-width: 67.5em) {
    h1, .h1 {
      font-size: 2.6rem; } }
  @media screen and (min-width: 80em) {
    h1, .h1 {
      font-size: 2.8rem; } }

h2, .h2 {
  font-size: 1.8rem; }
  @media screen and (min-width: 33.75em) {
    h2, .h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 45em) {
    h2, .h2 {
      font-size: 2.2rem; } }
  @media screen and (min-width: 67.5em) {
    h2, .h2 {
      font-size: 2.4rem; } }
  @media screen and (min-width: 80em) {
    h2, .h2 {
      font-size: 2.6rem; } }

h3, .h3 {
  font-size: 1.6rem; }
  @media screen and (min-width: 33.75em) {
    h3, .h3 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 45em) {
    h3, .h3 {
      font-size: 2rem; } }
  @media screen and (min-width: 67.5em) {
    h3, .h3 {
      font-size: 2.2rem; } }
  @media screen and (min-width: 80em) {
    h3, .h3 {
      font-size: 2.4rem; } }

h4, .h4 {
  font-size: 1.4rem; }
  @media screen and (min-width: 33.75em) {
    h4, .h4 {
      font-size: 1.6rem; } }
  @media screen and (min-width: 45em) {
    h4, .h4 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 67.5em) {
    h4, .h4 {
      font-size: 2rem; } }
  @media screen and (min-width: 80em) {
    h4, .h4 {
      font-size: 2.2rem; } }

h5, .h5 {
  font-size: 1.2rem; }
  @media screen and (min-width: 33.75em) {
    h5, .h5 {
      font-size: 1.4rem; } }
  @media screen and (min-width: 45em) {
    h5, .h5 {
      font-size: 1.6rem; } }
  @media screen and (min-width: 67.5em) {
    h5, .h5 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 80em) {
    h5, .h5 {
      font-size: 2rem; } }

h6, .h6 {
  font-size: 1rem; }
  @media screen and (min-width: 33.75em) {
    h6, .h6 {
      font-size: 1.2rem; } }
  @media screen and (min-width: 45em) {
    h6, .h6 {
      font-size: 1.4rem; } }
  @media screen and (min-width: 67.5em) {
    h6, .h6 {
      font-size: 1.6rem; } }
  @media screen and (min-width: 80em) {
    h6, .h6 {
      font-size: 1.8rem; } }

.subheading {
  margin-top: -0.5rem; }

/**
 * Paragraphs.
 */
.lead {
  font-size: 1.3rem; }
  @media screen and (min-width: 33.75em) {
    .lead {
      font-size: 1.5rem; } }
  @media screen and (min-width: 45em) {
    .lead {
      font-size: 1.7rem; } }
  @media screen and (min-width: 67.5em) {
    .lead {
      font-size: 1.9rem; } }
  @media screen and (min-width: 80em) {
    .lead {
      font-size: 2.1rem; } }

/**
 * Lists.
 */
ul, ol {
  margin: 2rem 0;
  padding: 0 0 0 2rem; }

/**
 * Links.
 */
a, a:link, a:visited {
  text-decoration: none; }
a:hover, a:focus {
  text-decoration: underline; }

/**
 * Addresses.
 */
address {
  font-style: normal; }

/* --------------------------------- *
 * FORMS.SCSS                        *
 * --------------------------------- */
/**
 * Default form styling.
 */
/* --------------------------------- *
 * LAYOUTS                           *
 * --------------------------------- */
/* --------------------------------- *
 * GRID.SCSS                         *
 * --------------------------------- */
/**
 * The grid object.
 *
 * Lays out items in a responsive grid.
 */
/**
 * Base.
 */
.grid {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0 0 0 -1.5rem;
  padding: 0; }

.grid__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0 0 0 1.5rem; }

/* Unpadded grid */
.grid--unpadded {
  margin-left: 0; }
  .grid--unpadded .grid__item {
    padding-left: 0; }

/* Grid alignments */
.grid__item--middle {
  vertical-align: middle; }

.grid__item--bottom {
  vertical-align: bottom; }

/* Grid sizes */
.pocket-hide {
  display: none; }

.pocket-show {
  display: inline-block; }

.pocket-push-reset {
  left: auto; }

.pocket-1-1, .pocket-2-2, .pocket-3-3, .pocket-4-4, .pocket-5-5, .pocket-6-6, .pocket-7-7, .pocket-8-8, .pocket-9-9, .pocket-10-10 {
  width: 100%; }

.pocket-push-1-1 {
  left: 100%; }

.pocket-1-2, .pocket-2-4, .pocket-3-6, .pocket-4-8, .pocket-5-10 {
  width: 50%; }

.pocket-push-1-2 {
  left: 50%; }

.pocket-1-3, .pocket-2-6, .pocket-3-9 {
  width: 33.33333%; }

.pocket-push-1-3 {
  left: 33.33333%; }

.pocket-1-4, .pocket-2-8 {
  width: 25%; }

.pocket-push-1-4 {
  left: 25%; }

.pocket-1-5, .pocket-2-10 {
  width: 20%; }

.pocket-push-1-5 {
  left: 20%; }

.pocket-1-6 {
  width: 16.66667%; }

.pocket-push-1-6 {
  left: 16.66667%; }

.pocket-1-7 {
  width: 14.28571%; }

.pocket-push-1-7 {
  left: 14.28571%; }

.pocket-1-8 {
  width: 12.5%; }

.pocket-push-1-8 {
  left: 12.5%; }

.pocket-1-9 {
  width: 11.11111%; }

.pocket-push-1-9 {
  left: 11.11111%; }

.pocket-1-10 {
  width: 10%; }

.pocket-push-1-10 {
  left: 10%; }

.pocket-2-3, .pocket-4-6, .pocket-6-9 {
  width: 66.66667%; }

.pocket-push-2-3 {
  left: 66.66667%; }

.pocket-2-5, .pocket-4-10 {
  width: 40%; }

.pocket-push-2-5 {
  left: 40%; }

.pocket-2-7 {
  width: 28.57143%; }

.pocket-push-2-7 {
  left: 28.57143%; }

.pocket-2-9 {
  width: 22.22222%; }

.pocket-push-2-9 {
  left: 22.22222%; }

.pocket-3-4, .pocket-6-8 {
  width: 75%; }

.pocket-push-3-4 {
  left: 75%; }

.pocket-3-5, .pocket-6-10 {
  width: 60%; }

.pocket-push-3-5 {
  left: 60%; }

.pocket-3-7 {
  width: 42.85714%; }

.pocket-push-3-7 {
  left: 42.85714%; }

.pocket-3-8 {
  width: 37.5%; }

.pocket-push-3-8 {
  left: 37.5%; }

.pocket-3-10 {
  width: 30%; }

.pocket-push-3-10 {
  left: 30%; }

.pocket-4-5, .pocket-8-10 {
  width: 80%; }

.pocket-push-4-5 {
  left: 80%; }

.pocket-4-7 {
  width: 57.14286%; }

.pocket-push-4-7 {
  left: 57.14286%; }

.pocket-4-9 {
  width: 44.44444%; }

.pocket-push-4-9 {
  left: 44.44444%; }

.pocket-5-6 {
  width: 83.33333%; }

.pocket-push-5-6 {
  left: 83.33333%; }

.pocket-5-7 {
  width: 71.42857%; }

.pocket-push-5-7 {
  left: 71.42857%; }

.pocket-5-8 {
  width: 62.5%; }

.pocket-push-5-8 {
  left: 62.5%; }

.pocket-5-9 {
  width: 55.55556%; }

.pocket-push-5-9 {
  left: 55.55556%; }

.pocket-6-7 {
  width: 85.71429%; }

.pocket-push-6-7 {
  left: 85.71429%; }

.pocket-7-8 {
  width: 87.5%; }

.pocket-push-7-8 {
  left: 87.5%; }

.pocket-7-9 {
  width: 77.77778%; }

.pocket-push-7-9 {
  left: 77.77778%; }

.pocket-7-10 {
  width: 70%; }

.pocket-push-7-10 {
  left: 70%; }

.pocket-8-9 {
  width: 88.88889%; }

.pocket-push-8-9 {
  left: 88.88889%; }

.pocket-9-10 {
  width: 90%; }

.pocket-push-9-10 {
  left: 90%; }

@media screen and (min-width: 33.75em) {
  .hand-hide {
    display: none; }
  .hand-show {
    display: inline-block; }
  .hand-push-reset {
    left: auto; } }

@media screen and (min-width: 33.75em) {
  .hand-1-1, .hand-2-2, .hand-3-3, .hand-4-4, .hand-5-5, .hand-6-6, .hand-7-7, .hand-8-8, .hand-9-9, .hand-10-10 {
    width: 100%; }
  .hand-push-1-1 {
    left: 100%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-2, .hand-2-4, .hand-3-6, .hand-4-8, .hand-5-10 {
    width: 50%; }
  .hand-push-1-2 {
    left: 50%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-3, .hand-2-6, .hand-3-9 {
    width: 33.33333%; }
  .hand-push-1-3 {
    left: 33.33333%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-4, .hand-2-8 {
    width: 25%; }
  .hand-push-1-4 {
    left: 25%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-5, .hand-2-10 {
    width: 20%; }
  .hand-push-1-5 {
    left: 20%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-6 {
    width: 16.66667%; }
  .hand-push-1-6 {
    left: 16.66667%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-7 {
    width: 14.28571%; }
  .hand-push-1-7 {
    left: 14.28571%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-8 {
    width: 12.5%; }
  .hand-push-1-8 {
    left: 12.5%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-9 {
    width: 11.11111%; }
  .hand-push-1-9 {
    left: 11.11111%; } }

@media screen and (min-width: 33.75em) {
  .hand-1-10 {
    width: 10%; }
  .hand-push-1-10 {
    left: 10%; } }

@media screen and (min-width: 33.75em) {
  .hand-2-3, .hand-4-6, .hand-6-9 {
    width: 66.66667%; }
  .hand-push-2-3 {
    left: 66.66667%; } }

@media screen and (min-width: 33.75em) {
  .hand-2-5, .hand-4-10 {
    width: 40%; }
  .hand-push-2-5 {
    left: 40%; } }

@media screen and (min-width: 33.75em) {
  .hand-2-7 {
    width: 28.57143%; }
  .hand-push-2-7 {
    left: 28.57143%; } }

@media screen and (min-width: 33.75em) {
  .hand-2-9 {
    width: 22.22222%; }
  .hand-push-2-9 {
    left: 22.22222%; } }

@media screen and (min-width: 33.75em) {
  .hand-3-4, .hand-6-8 {
    width: 75%; }
  .hand-push-3-4 {
    left: 75%; } }

@media screen and (min-width: 33.75em) {
  .hand-3-5, .hand-6-10 {
    width: 60%; }
  .hand-push-3-5 {
    left: 60%; } }

@media screen and (min-width: 33.75em) {
  .hand-3-7 {
    width: 42.85714%; }
  .hand-push-3-7 {
    left: 42.85714%; } }

@media screen and (min-width: 33.75em) {
  .hand-3-8 {
    width: 37.5%; }
  .hand-push-3-8 {
    left: 37.5%; } }

@media screen and (min-width: 33.75em) {
  .hand-3-10 {
    width: 30%; }
  .hand-push-3-10 {
    left: 30%; } }

@media screen and (min-width: 33.75em) {
  .hand-4-5, .hand-8-10 {
    width: 80%; }
  .hand-push-4-5 {
    left: 80%; } }

@media screen and (min-width: 33.75em) {
  .hand-4-7 {
    width: 57.14286%; }
  .hand-push-4-7 {
    left: 57.14286%; } }

@media screen and (min-width: 33.75em) {
  .hand-4-9 {
    width: 44.44444%; }
  .hand-push-4-9 {
    left: 44.44444%; } }

@media screen and (min-width: 33.75em) {
  .hand-5-6 {
    width: 83.33333%; }
  .hand-push-5-6 {
    left: 83.33333%; } }

@media screen and (min-width: 33.75em) {
  .hand-5-7 {
    width: 71.42857%; }
  .hand-push-5-7 {
    left: 71.42857%; } }

@media screen and (min-width: 33.75em) {
  .hand-5-8 {
    width: 62.5%; }
  .hand-push-5-8 {
    left: 62.5%; } }

@media screen and (min-width: 33.75em) {
  .hand-5-9 {
    width: 55.55556%; }
  .hand-push-5-9 {
    left: 55.55556%; } }

@media screen and (min-width: 33.75em) {
  .hand-6-7 {
    width: 85.71429%; }
  .hand-push-6-7 {
    left: 85.71429%; } }

@media screen and (min-width: 33.75em) {
  .hand-7-8 {
    width: 87.5%; }
  .hand-push-7-8 {
    left: 87.5%; } }

@media screen and (min-width: 33.75em) {
  .hand-7-9 {
    width: 77.77778%; }
  .hand-push-7-9 {
    left: 77.77778%; } }

@media screen and (min-width: 33.75em) {
  .hand-7-10 {
    width: 70%; }
  .hand-push-7-10 {
    left: 70%; } }

@media screen and (min-width: 33.75em) {
  .hand-8-9 {
    width: 88.88889%; }
  .hand-push-8-9 {
    left: 88.88889%; } }

@media screen and (min-width: 33.75em) {
  .hand-9-10 {
    width: 90%; }
  .hand-push-9-10 {
    left: 90%; } }

@media screen and (min-width: 45em) {
  .lap-hide {
    display: none; }
  .lap-show {
    display: inline-block; }
  .lap-push-reset {
    left: auto; } }

@media screen and (min-width: 45em) {
  .lap-1-1, .lap-2-2, .lap-3-3, .lap-4-4, .lap-5-5, .lap-6-6, .lap-7-7, .lap-8-8, .lap-9-9, .lap-10-10 {
    width: 100%; }
  .lap-push-1-1 {
    left: 100%; } }

@media screen and (min-width: 45em) {
  .lap-1-2, .lap-2-4, .lap-3-6, .lap-4-8, .lap-5-10 {
    width: 50%; }
  .lap-push-1-2 {
    left: 50%; } }

@media screen and (min-width: 45em) {
  .lap-1-3, .lap-2-6, .lap-3-9 {
    width: 33.33333%; }
  .lap-push-1-3 {
    left: 33.33333%; } }

@media screen and (min-width: 45em) {
  .lap-1-4, .lap-2-8 {
    width: 25%; }
  .lap-push-1-4 {
    left: 25%; } }

@media screen and (min-width: 45em) {
  .lap-1-5, .lap-2-10 {
    width: 20%; }
  .lap-push-1-5 {
    left: 20%; } }

@media screen and (min-width: 45em) {
  .lap-1-6 {
    width: 16.66667%; }
  .lap-push-1-6 {
    left: 16.66667%; } }

@media screen and (min-width: 45em) {
  .lap-1-7 {
    width: 14.28571%; }
  .lap-push-1-7 {
    left: 14.28571%; } }

@media screen and (min-width: 45em) {
  .lap-1-8 {
    width: 12.5%; }
  .lap-push-1-8 {
    left: 12.5%; } }

@media screen and (min-width: 45em) {
  .lap-1-9 {
    width: 11.11111%; }
  .lap-push-1-9 {
    left: 11.11111%; } }

@media screen and (min-width: 45em) {
  .lap-1-10 {
    width: 10%; }
  .lap-push-1-10 {
    left: 10%; } }

@media screen and (min-width: 45em) {
  .lap-2-3, .lap-4-6, .lap-6-9 {
    width: 66.66667%; }
  .lap-push-2-3 {
    left: 66.66667%; } }

@media screen and (min-width: 45em) {
  .lap-2-5, .lap-4-10 {
    width: 40%; }
  .lap-push-2-5 {
    left: 40%; } }

@media screen and (min-width: 45em) {
  .lap-2-7 {
    width: 28.57143%; }
  .lap-push-2-7 {
    left: 28.57143%; } }

@media screen and (min-width: 45em) {
  .lap-2-9 {
    width: 22.22222%; }
  .lap-push-2-9 {
    left: 22.22222%; } }

@media screen and (min-width: 45em) {
  .lap-3-4, .lap-6-8 {
    width: 75%; }
  .lap-push-3-4 {
    left: 75%; } }

@media screen and (min-width: 45em) {
  .lap-3-5, .lap-6-10 {
    width: 60%; }
  .lap-push-3-5 {
    left: 60%; } }

@media screen and (min-width: 45em) {
  .lap-3-7 {
    width: 42.85714%; }
  .lap-push-3-7 {
    left: 42.85714%; } }

@media screen and (min-width: 45em) {
  .lap-3-8 {
    width: 37.5%; }
  .lap-push-3-8 {
    left: 37.5%; } }

@media screen and (min-width: 45em) {
  .lap-3-10 {
    width: 30%; }
  .lap-push-3-10 {
    left: 30%; } }

@media screen and (min-width: 45em) {
  .lap-4-5, .lap-8-10 {
    width: 80%; }
  .lap-push-4-5 {
    left: 80%; } }

@media screen and (min-width: 45em) {
  .lap-4-7 {
    width: 57.14286%; }
  .lap-push-4-7 {
    left: 57.14286%; } }

@media screen and (min-width: 45em) {
  .lap-4-9 {
    width: 44.44444%; }
  .lap-push-4-9 {
    left: 44.44444%; } }

@media screen and (min-width: 45em) {
  .lap-5-6 {
    width: 83.33333%; }
  .lap-push-5-6 {
    left: 83.33333%; } }

@media screen and (min-width: 45em) {
  .lap-5-7 {
    width: 71.42857%; }
  .lap-push-5-7 {
    left: 71.42857%; } }

@media screen and (min-width: 45em) {
  .lap-5-8 {
    width: 62.5%; }
  .lap-push-5-8 {
    left: 62.5%; } }

@media screen and (min-width: 45em) {
  .lap-5-9 {
    width: 55.55556%; }
  .lap-push-5-9 {
    left: 55.55556%; } }

@media screen and (min-width: 45em) {
  .lap-6-7 {
    width: 85.71429%; }
  .lap-push-6-7 {
    left: 85.71429%; } }

@media screen and (min-width: 45em) {
  .lap-7-8 {
    width: 87.5%; }
  .lap-push-7-8 {
    left: 87.5%; } }

@media screen and (min-width: 45em) {
  .lap-7-9 {
    width: 77.77778%; }
  .lap-push-7-9 {
    left: 77.77778%; } }

@media screen and (min-width: 45em) {
  .lap-7-10 {
    width: 70%; }
  .lap-push-7-10 {
    left: 70%; } }

@media screen and (min-width: 45em) {
  .lap-8-9 {
    width: 88.88889%; }
  .lap-push-8-9 {
    left: 88.88889%; } }

@media screen and (min-width: 45em) {
  .lap-9-10 {
    width: 90%; }
  .lap-push-9-10 {
    left: 90%; } }

@media screen and (min-width: 67.5em) {
  .desk-hide {
    display: none; }
  .desk-show {
    display: inline-block; }
  .desk-push-reset {
    left: auto; } }

@media screen and (min-width: 67.5em) {
  .desk-1-1, .desk-2-2, .desk-3-3, .desk-4-4, .desk-5-5, .desk-6-6, .desk-7-7, .desk-8-8, .desk-9-9, .desk-10-10 {
    width: 100%; }
  .desk-push-1-1 {
    left: 100%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-2, .desk-2-4, .desk-3-6, .desk-4-8, .desk-5-10 {
    width: 50%; }
  .desk-push-1-2 {
    left: 50%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-3, .desk-2-6, .desk-3-9 {
    width: 33.33333%; }
  .desk-push-1-3 {
    left: 33.33333%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-4, .desk-2-8 {
    width: 25%; }
  .desk-push-1-4 {
    left: 25%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-5, .desk-2-10 {
    width: 20%; }
  .desk-push-1-5 {
    left: 20%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-6 {
    width: 16.66667%; }
  .desk-push-1-6 {
    left: 16.66667%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-7 {
    width: 14.28571%; }
  .desk-push-1-7 {
    left: 14.28571%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-8 {
    width: 12.5%; }
  .desk-push-1-8 {
    left: 12.5%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-9 {
    width: 11.11111%; }
  .desk-push-1-9 {
    left: 11.11111%; } }

@media screen and (min-width: 67.5em) {
  .desk-1-10 {
    width: 10%; }
  .desk-push-1-10 {
    left: 10%; } }

@media screen and (min-width: 67.5em) {
  .desk-2-3, .desk-4-6, .desk-6-9 {
    width: 66.66667%; }
  .desk-push-2-3 {
    left: 66.66667%; } }

@media screen and (min-width: 67.5em) {
  .desk-2-5, .desk-4-10 {
    width: 40%; }
  .desk-push-2-5 {
    left: 40%; } }

@media screen and (min-width: 67.5em) {
  .desk-2-7 {
    width: 28.57143%; }
  .desk-push-2-7 {
    left: 28.57143%; } }

@media screen and (min-width: 67.5em) {
  .desk-2-9 {
    width: 22.22222%; }
  .desk-push-2-9 {
    left: 22.22222%; } }

@media screen and (min-width: 67.5em) {
  .desk-3-4, .desk-6-8 {
    width: 75%; }
  .desk-push-3-4 {
    left: 75%; } }

@media screen and (min-width: 67.5em) {
  .desk-3-5, .desk-6-10 {
    width: 60%; }
  .desk-push-3-5 {
    left: 60%; } }

@media screen and (min-width: 67.5em) {
  .desk-3-7 {
    width: 42.85714%; }
  .desk-push-3-7 {
    left: 42.85714%; } }

@media screen and (min-width: 67.5em) {
  .desk-3-8 {
    width: 37.5%; }
  .desk-push-3-8 {
    left: 37.5%; } }

@media screen and (min-width: 67.5em) {
  .desk-3-10 {
    width: 30%; }
  .desk-push-3-10 {
    left: 30%; } }

@media screen and (min-width: 67.5em) {
  .desk-4-5, .desk-8-10 {
    width: 80%; }
  .desk-push-4-5 {
    left: 80%; } }

@media screen and (min-width: 67.5em) {
  .desk-4-7 {
    width: 57.14286%; }
  .desk-push-4-7 {
    left: 57.14286%; } }

@media screen and (min-width: 67.5em) {
  .desk-4-9 {
    width: 44.44444%; }
  .desk-push-4-9 {
    left: 44.44444%; } }

@media screen and (min-width: 67.5em) {
  .desk-5-6 {
    width: 83.33333%; }
  .desk-push-5-6 {
    left: 83.33333%; } }

@media screen and (min-width: 67.5em) {
  .desk-5-7 {
    width: 71.42857%; }
  .desk-push-5-7 {
    left: 71.42857%; } }

@media screen and (min-width: 67.5em) {
  .desk-5-8 {
    width: 62.5%; }
  .desk-push-5-8 {
    left: 62.5%; } }

@media screen and (min-width: 67.5em) {
  .desk-5-9 {
    width: 55.55556%; }
  .desk-push-5-9 {
    left: 55.55556%; } }

@media screen and (min-width: 67.5em) {
  .desk-6-7 {
    width: 85.71429%; }
  .desk-push-6-7 {
    left: 85.71429%; } }

@media screen and (min-width: 67.5em) {
  .desk-7-8 {
    width: 87.5%; }
  .desk-push-7-8 {
    left: 87.5%; } }

@media screen and (min-width: 67.5em) {
  .desk-7-9 {
    width: 77.77778%; }
  .desk-push-7-9 {
    left: 77.77778%; } }

@media screen and (min-width: 67.5em) {
  .desk-7-10 {
    width: 70%; }
  .desk-push-7-10 {
    left: 70%; } }

@media screen and (min-width: 67.5em) {
  .desk-8-9 {
    width: 88.88889%; }
  .desk-push-8-9 {
    left: 88.88889%; } }

@media screen and (min-width: 67.5em) {
  .desk-9-10 {
    width: 90%; }
  .desk-push-9-10 {
    left: 90%; } }

@media screen and (min-width: 80em) {
  .wide-hide {
    display: none; }
  .wide-show {
    display: inline-block; }
  .wide-push-reset {
    left: auto; } }

@media screen and (min-width: 80em) {
  .wide-1-1, .wide-2-2, .wide-3-3, .wide-4-4, .wide-5-5, .wide-6-6, .wide-7-7, .wide-8-8, .wide-9-9, .wide-10-10 {
    width: 100%; }
  .wide-push-1-1 {
    left: 100%; } }

@media screen and (min-width: 80em) {
  .wide-1-2, .wide-2-4, .wide-3-6, .wide-4-8, .wide-5-10 {
    width: 50%; }
  .wide-push-1-2 {
    left: 50%; } }

@media screen and (min-width: 80em) {
  .wide-1-3, .wide-2-6, .wide-3-9 {
    width: 33.33333%; }
  .wide-push-1-3 {
    left: 33.33333%; } }

@media screen and (min-width: 80em) {
  .wide-1-4, .wide-2-8 {
    width: 25%; }
  .wide-push-1-4 {
    left: 25%; } }

@media screen and (min-width: 80em) {
  .wide-1-5, .wide-2-10 {
    width: 20%; }
  .wide-push-1-5 {
    left: 20%; } }

@media screen and (min-width: 80em) {
  .wide-1-6 {
    width: 16.66667%; }
  .wide-push-1-6 {
    left: 16.66667%; } }

@media screen and (min-width: 80em) {
  .wide-1-7 {
    width: 14.28571%; }
  .wide-push-1-7 {
    left: 14.28571%; } }

@media screen and (min-width: 80em) {
  .wide-1-8 {
    width: 12.5%; }
  .wide-push-1-8 {
    left: 12.5%; } }

@media screen and (min-width: 80em) {
  .wide-1-9 {
    width: 11.11111%; }
  .wide-push-1-9 {
    left: 11.11111%; } }

@media screen and (min-width: 80em) {
  .wide-1-10 {
    width: 10%; }
  .wide-push-1-10 {
    left: 10%; } }

@media screen and (min-width: 80em) {
  .wide-2-3, .wide-4-6, .wide-6-9 {
    width: 66.66667%; }
  .wide-push-2-3 {
    left: 66.66667%; } }

@media screen and (min-width: 80em) {
  .wide-2-5, .wide-4-10 {
    width: 40%; }
  .wide-push-2-5 {
    left: 40%; } }

@media screen and (min-width: 80em) {
  .wide-2-7 {
    width: 28.57143%; }
  .wide-push-2-7 {
    left: 28.57143%; } }

@media screen and (min-width: 80em) {
  .wide-2-9 {
    width: 22.22222%; }
  .wide-push-2-9 {
    left: 22.22222%; } }

@media screen and (min-width: 80em) {
  .wide-3-4, .wide-6-8 {
    width: 75%; }
  .wide-push-3-4 {
    left: 75%; } }

@media screen and (min-width: 80em) {
  .wide-3-5, .wide-6-10 {
    width: 60%; }
  .wide-push-3-5 {
    left: 60%; } }

@media screen and (min-width: 80em) {
  .wide-3-7 {
    width: 42.85714%; }
  .wide-push-3-7 {
    left: 42.85714%; } }

@media screen and (min-width: 80em) {
  .wide-3-8 {
    width: 37.5%; }
  .wide-push-3-8 {
    left: 37.5%; } }

@media screen and (min-width: 80em) {
  .wide-3-10 {
    width: 30%; }
  .wide-push-3-10 {
    left: 30%; } }

@media screen and (min-width: 80em) {
  .wide-4-5, .wide-8-10 {
    width: 80%; }
  .wide-push-4-5 {
    left: 80%; } }

@media screen and (min-width: 80em) {
  .wide-4-7 {
    width: 57.14286%; }
  .wide-push-4-7 {
    left: 57.14286%; } }

@media screen and (min-width: 80em) {
  .wide-4-9 {
    width: 44.44444%; }
  .wide-push-4-9 {
    left: 44.44444%; } }

@media screen and (min-width: 80em) {
  .wide-5-6 {
    width: 83.33333%; }
  .wide-push-5-6 {
    left: 83.33333%; } }

@media screen and (min-width: 80em) {
  .wide-5-7 {
    width: 71.42857%; }
  .wide-push-5-7 {
    left: 71.42857%; } }

@media screen and (min-width: 80em) {
  .wide-5-8 {
    width: 62.5%; }
  .wide-push-5-8 {
    left: 62.5%; } }

@media screen and (min-width: 80em) {
  .wide-5-9 {
    width: 55.55556%; }
  .wide-push-5-9 {
    left: 55.55556%; } }

@media screen and (min-width: 80em) {
  .wide-6-7 {
    width: 85.71429%; }
  .wide-push-6-7 {
    left: 85.71429%; } }

@media screen and (min-width: 80em) {
  .wide-7-8 {
    width: 87.5%; }
  .wide-push-7-8 {
    left: 87.5%; } }

@media screen and (min-width: 80em) {
  .wide-7-9 {
    width: 77.77778%; }
  .wide-push-7-9 {
    left: 77.77778%; } }

@media screen and (min-width: 80em) {
  .wide-7-10 {
    width: 70%; }
  .wide-push-7-10 {
    left: 70%; } }

@media screen and (min-width: 80em) {
  .wide-8-9 {
    width: 88.88889%; }
  .wide-push-8-9 {
    left: 88.88889%; } }

@media screen and (min-width: 80em) {
  .wide-9-10 {
    width: 90%; }
  .wide-push-9-10 {
    left: 90%; } }

/* --------------------------------- *
 * CONTAINER.SCSS                    *
 * --------------------------------- */
/**
 * The container object.
 *
 * A main bucket for items.
 */
/**
 * Base.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem; }

/**
 * Unpadded container.
 */
.container--unpadded {
  padding: 0; }

/* --------------------------------- *
 * WRAPPER.SCSS                      *
 * --------------------------------- */
/**
 * The wrapper object.
 *
 * Used to wrap elements in a constrained area.
 */
/**
 * Base.
 */
.wrapper {
  position: relative;
  max-width: 68em;
  margin: 0 auto;
  padding: 0 1rem; }

/**
 * Fully padded wrapper.
 */
.wrapper--padded {
  padding: 1em; }

/**
 * Unpadded wrapper.
 */
.wrapper--unpadded {
  padding: 0; }

/**
 * Full width wrapper.
 */
.wrapper--full {
  max-width: none; }

/* --------------------------------- *
 * FAUX-TABLE.SCSS                   *
 * --------------------------------- */
/**
 * Displays elements as if they were contained in a table. Makes it easy to
 * vertically align elements.
 */
/**
 * Base.
 */
.f-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.f-table__row {
  display: table-row; }

.f-table__cell {
  display: table-cell;
  vertical-align: middle; }

/* --------------------------------- *
 * OBJECTS                           *
 * --------------------------------- */
/* --------------------------------- *
 * BTN.SCSS                          *
 * --------------------------------- */
/**
 * Displays an element as a button.
 *
 * Should mainly be used on <button>, <input type="button|submit|reset">, and
 * <a>
 */
/**
 * Base.
 */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-height: 2.4rem;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  outline: none;
  font-weight: 400;
  line-height: 1; }
  .btn, .btn:link, .btn:visited, .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn .icon {
    margin-left: 0.5em; }
  .btn .icon--reversed {
    margin-left: 0;
    margin-right: 0.5em; }

/**
 * Inverted buttons.
 */
/**
 * Primary buttons (primary action, like 'submit').
 */
/**
 * Secondary buttons (secondary action, like 'cancel').
 */
/* --------------------------------- *
 * ICON.SCSS                         *
 * --------------------------------- */
/**
 * Scalable (SVG) icons.
 */
/**
 * Base.
 */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1; }

/**
 * Icon sizes.
 *
 * Creates classes to scale icons.
 */
.icon--x2 {
  width: 2em;
  height: 2em; }

.icon--x3 {
  width: 3em;
  height: 3em; }

/* --------------------------------- *
 * LOGO.SCSS                         *
 * --------------------------------- */
/**
 * Displays a(n) (SVG) logo.
 *
 * Width and heigth should be defined to avoid scaling issues.
 */
/**
 * Base.
 */
.logo {
  display: inline-block;
  vertical-align: middle; }

.logo__img {
  display: block;
  width: 100px;
  height: 36px; }

/* --------------------------------- *
 * NAV.SCSS                          *
 * --------------------------------- */
/**
 * Standardized navigation list.
 *
 * Can be used on any collection of elements, bu <ul> is recommended in most
 * cases.
 */
/**
 * Base.
 */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.nav__item {
  position: relative;
  display: inline-block;
  width: 100%; }

.nav__link {
  position: relative;
  display: block; }
  .nav__link, .nav__link:link, .nav__link:visited, .nav__link:hover, .nav__link:focus {
    text-decoration: none; }

/**
 * Sub navigation.
 */
.nav--sub {
  position: relative; }
  @media screen and (min-width: 45em) {
    .nav--sub {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%; } }

/**
 * Inline navigation.
 */
.nav--inline .nav__item {
  width: auto; }

/* --------------------------------- *
 * GLOBALS                           *
 * --------------------------------- */
/* --------------------------------- *
 * HEADER.SCSS                       *
 * --------------------------------- */
/**
 * Styling for the header that appears throughout the website.
 */
/* --------------------------------- *
 * FOOTER.SCSS                       *
 * --------------------------------- */
/**
 * Styling for the footer that appears throughout the website.
 */
/* --------------------------------- *
 * COMPONENTS                        *
 * --------------------------------- */