/* --------------------------------- *
 * VARIABLES                         *
 * --------------------------------- */
/**
 * Colors.
 * 
 * Define custom colors to use throughout this project.
 */
$red: #e31837;
$ui: #eee;



/**
 * Global variables.
 */
$padding: 1.5rem;
$font-size: 16px;



/**
 * Media queries.
 * 
 * Define custom media queries that you can call them by a mapped name in the
 * media query mixin. Will also be used to generate grids.
 *
 * You can also call a custom media query by providing the actual query.
 *
 * Example:
 * @include mq(lap) { color: red; }
 * @include mq('screen and (max-width: 20em)') { color: green; }
 */
$media-queries: (
  pocket: '',
  hand: 'screen and (min-width: 33.75em)',
  lap:  'screen and (min-width: 45em)',
  desk: 'screen and (min-width: 67.5em)',
  wide: 'screen and (min-width: 80em)'
);



/**
 * Transitions.
 *
 * Define custom transitions, so you can call them by a mapped name in the
 * transition mixin.
 * 
 * You can also call a custom transition by providing the actual transition.
 *
 * Example:
 * @include transition(slow, 'color, background-color');
 * @include transition('all 250ms cubic-bezier(0.3, 0.5, 0.7, 0.5)');
 */
$transitions: (
  slow:   'all 0.3s ease-in-out',
  normal: 'all 0.2s ease-in-out',
  fast:   'all 0.1s ease-in-out'
);





/* --------------------------------- *
 * PARTIALS                          *
 * --------------------------------- */
@import 'partials/mixins';
@import 'partials/normalize';
@import 'partials/boilerplate';





/* --------------------------------- *
 * BASE                              *
 * --------------------------------- */
@import 'base/document';
@import 'base/typography';
@import 'base/forms';





/* --------------------------------- *
 * LAYOUTS                           *
 * --------------------------------- */
@import 'layouts/grid';
@import 'layouts/container';
@import 'layouts/wrapper';
@import 'layouts/faux-table';





/* --------------------------------- *
 * OBJECTS                           *
 * --------------------------------- */
@import 'objects/btn';
@import 'objects/icon';
@import 'objects/logo';
@import 'objects/nav';





/* --------------------------------- *
 * GLOBALS                           *
 * --------------------------------- */
@import 'global/header';
@import 'global/footer';





/* --------------------------------- *
 * COMPONENTS                        *
 * --------------------------------- */





/* --------------------------------- *
 * PRINT                             *
 * --------------------------------- */
@import 'partials/print';
