/* --------------------------------- *
 * BTN.SCSS                          *
 * --------------------------------- */
/**
 * Displays an element as a button.
 *
 * Should mainly be used on <button>, <input type="button|submit|reset">, and
 * <a>
 */



/**
 * Base.
 */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  border: 1px solid transparent;

  padding: 0.5em 1em;
  outline: none;

  font-weight: 400;
  line-height: 1;

  background: $ui;

  // States
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: #333;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: darken($ui, 5%);
  }

  &:active {
    background-color: darken($ui, 10%);
  }

  // Icons in buttons have margin to push them away from the text.
  & .icon {
    float: right;
    margin-left: 0.5em;
  }

  // Reversed icons are on the other side of the text.
  & .icon--reversed {
    float: left;
    margin-left: 0;
    margin-right: 0.5em;
  }

}



/**
 * Inverted buttons.
 */
.btn--inverted {

  &,
  &:link,
  &:visited {}

  &:hover,
  &:focus {}

  &:active {}

}



/**
 * Primary buttons (primary action, like 'submit').
 */
.btn--primary {

  &,
  &:link,
  &:visited {}

  &:hover,
  &:focus {}

  &:active {}

}



/**
 * Secondary buttons (secondary action, like 'cancel').
 */
.btn--secondary {

  &,
  &:link,
  &:visited {}

  &:hover,
  &:focus {}

  &:active {}

}
