/* --------------------------------- *
 * ICON.SCSS                         *
 * --------------------------------- */
/**
 * Scalable (SVG) icons.
 */
$icon-width:  1em;
$icon-height: 1em;
$icon-sizes:  3;



/**
 * Base.
 */
.icon {
  display: inline-block;
  vertical-align: middle;

  width: 1em;
  height: 1em;

  line-height: 1;
}



/**
 * Icon sizes.
 *
 * Creates classes to scale icons.
 */
@for $i from 2 through $icon-sizes {
  .icon--x#{$i} {
    width: $i * $icon-width;
    height: $i * $icon-height;
  }
}
