/* --------------------------------- *
 * LOGO.SCSS                         *
 * --------------------------------- */
/**
 * Displays a(n) (SVG) logo.
 *
 * Width and heigth should be defined to avoid scaling issues.
 */
$ratio: 0.36;



/**
 * Base.
 */
.logo {
  display: inline-block;
  vertical-align: middle;
}

  .logo__img {
    display: block;

    width: 100px;
    height: 100px * $ratio;
  }
