/* --------------------------------- *
 * FORMS.SCSS                        *
 * --------------------------------- */
/**
 * Default form styling.
 */
label {
  display: block;
  cursor: pointer;

  font-weight: 600;
}

input {
  padding: 0.25em 0.5em;
}

input[type=search] {
  box-sizing: border-box;
}



/**
 * Helper classes.
 */
.required {
  color: $red;
}
