/* --------------------------------- *
 * CONTAINER.SCSS                    *
 * --------------------------------- */
/**
 * The container object.
 *
 * A main bucket for items.
 */



/**
 * Base.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: $padding;
}



/**
 * Unpadded container.
 */
.container--unpadded {
  padding: 0;
}
