/* --------------------------------- *
 * GRID.SCSS                         *
 * --------------------------------- */
/**
 * The grid object.
 *
 * Lays out items in a responsive grid.
 */

$grid-spacing: 1.5rem;
$grid-numerators: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$grid-denomenators: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);



/**
 * Base.
 */
.grid {
  position: relative;
  display: block;

  list-style-type: none;

  margin: 0 0 0 ($grid-spacing * -1);
  padding: 0;
}

  .grid__item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    width: 100%;

    margin: 0;
    padding: 0 0 0 $grid-spacing;
  }



/* Unpadded grid */
.grid--unpadded {
  margin-left: 0;

  .grid__item {
    padding-left: 0;
  }
}



/* Grid alignments */
.grid__item--middle {
  vertical-align: middle;
}

.grid__item--bottom {
  vertical-align: bottom;
}



/* Grid sizes */
// Loop through all the user defined media queries to build the grid widths.
@each $name, $media in $media-queries {

  $widths: ();
  $placeholders: ();
  $placeholders_push: ();

  @if ($media == '') {

    .#{$name}-hide {
      display: none;
    }

    .#{$name}-show {
      display: inline-block;
    }

    .#{$name}-push-reset {
      left: auto;
    }

  } @else {

    @media #{$media} {
      .#{$name}-hide {
        display: none;
      }

      .#{$name}-show {
        display: inline-block;
      }

      .#{$name}-push-reset {
        left: auto;
      }
    }

  }

  @each $numerator in $grid-numerators {

    @each $denominator in $grid-denomenators {

      @if ($numerator <= $denominator) {

        $fraction: $numerator / $denominator;
        $index: index($widths, $fraction);

        // The width hasn't been stored yet for this media query, so we add the
        // width to the list and create a new placeholder.
        // 
        // Otherwise this width already exists and we should extend a previously
        // stored placeholder.
        // 
        // Because placeholders are stored in their respective media queries, we
        // only have to extend the placeholder and the result will end up in the
        // correct media query.
        @if ($index == null) {

          $widths: append($widths, $fraction);
          $placeholder: '%' + $name + '-' + $numerator + '-' + $denominator;
          $placeholder_push: '%' + $name + '-push-' + $numerator + '-' + $denominator;
          $placeholders: append($placeholders, $placeholder);
          $placeholders_push: append($placeholders_push, $placeholder_push);

          // If there's no media query, make a placeholder in the 'root' and
          // extend it. Otherwise, create the placeholder in the media query and
          // extend it.
          @if ($media == '') {

            // The placeholder in the root.
            %#{$name}-#{$numerator}-#{$denominator} {
              width: $fraction * 100%;
            }

            // The push placeholder in the root.
            %#{$name}-push-#{$numerator}-#{$denominator} {
              left: $fraction * 100%;
            }

            // Extend the placeholder.
            .#{$name}-#{$numerator}-#{$denominator} {
              @extend %#{$name}-#{$numerator}-#{$denominator};
            }

            // Extend the push placeholder.
            .#{$name}-push-#{$numerator}-#{$denominator} {
              @extend %#{$name}-push-#{$numerator}-#{$denominator};
            }

          } @else {

            // The placeholder in a media query.
            @media #{$media} {
              %#{$name}-#{$numerator}-#{$denominator} {
                width: $fraction * 100%;
              }

              %#{$name}-push-#{$numerator}-#{$denominator} {
                left: $fraction * 100%;
              }
            
              // Extend the placeholder.
              .#{$name}-#{$numerator}-#{$denominator} {
                @extend %#{$name}-#{$numerator}-#{$denominator};
              }

              .#{$name}-push-#{$numerator}-#{$denominator} {
                @extend %#{$name}-push-#{$numerator}-#{$denominator};
              }

            }

          }

        } @else {

          // Extend the placeholder.
          .#{$name}-#{$numerator}-#{$denominator} {
            @extend #{nth($placeholders, $index)};
          }

          // Extend the placeholder.
          .#{$name}-push-#{$numerator}-#{$denominator} {
            @extend #{nth($placeholders_push, $index)};
          }

        }

      }

    }

  }

}
