/* --------------------------------- *
 * WRAPPER.SCSS                      *
 * --------------------------------- */
/**
 * The wrapper object.
 *
 * Used to wrap elements in a constrained area.
 */



/**
 * Base.
 */
.wrapper {
  position: relative;

  max-width: 68rem;

  margin: 0 auto;
  padding: 0 1rem;
}



/**
 * Fully padded wrapper.
 */
.wrapper--padded {
  padding: 1rem;
}



/**
 * Unpadded wrapper.
 */
.wrapper--unpadded {
  padding: 0;
}



/**
 * Full width wrapper.
 */
.wrapper--full {
  max-width: none;
}
